{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Manage{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container_manage">
    <nav class="explore">
        <ul>
            <li><a href="{{ url_for('manage.menu') }}">Users</a></li>
            <li><a href="#">Graphics</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    
    <div class="users">
        <table>
            <tbody >
                <tr class="header">
                    <td>Id</td>
                    <td>Username</td>
                    <td>Rol</td>
                    <td></td>
                </tr>

                {% for post in posts %}
                    <tr>
                        <td>{{ post[ 'id' ] }}</td>
                        <td>{{ post[ 'username' ] }}</td>
                        <td>{{ post[ 'rol' ] }}</td>
                        <td><a class="edit" href="{{ url_for('manage.profile', username=post[ 'username' ]) }}" method="post">perfil</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}