{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profile{% endblock %}</h1>
  <a id="create_post" href="{{ url_for('manage.create', username=posts[0]['username']) }}">New</a>
{% endblock %}

{% block content %}
<div class="container_manage">
    <nav class="explore">
        <ul>
            <li><a href="{{ url_for('manage.menu') }}">Users</a></li>
            <li><a href="#">Graphics</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

    <article class="users">
  {% for post in posts %}
        <div class="users_post">
            <header>
                <div >
                    <h1>{{ post[ 'title' ] }}</h1>
                        {% if post['created'] != None %}
                        by {{ post[ 'username' ] }} on
                        {{ post[ 'created'].strftime('%Y-%m-%d') }}
                        {% endif %}
                </div>
                {% if session['user_id'] == post['author_id'] or session['user_rol'] == 'admin' and post['post_id']%}
                <a class="edit" href="{{ url_for('blog.update', id=post['post_id'])}}">Edit</a>
                {% endif %}
            </header>
            <p class="user_body">{{ post['body'] }}</p>
        </div>
  {% endfor %}
    </article>
</div>
{% endblock %}