
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

.credential{
    color: #252525;
    text-decoration: none;
    
    
}

.navegator {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-bottom: 1px solid #000000; 
    padding: 0.5rem; 
    transition: color 0.3s ease-in-out;
}

.navegator a:hover {
    color: #3240bd;
}

.navegator h1 {
    flex: auto;
    margin: 0;
    padding: 0.25rem 0.5rem;

}

.navegator ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegator ul li a,
.navegator ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
    text-decoration: none;
}

.delete{
    color: #ff1900;
}

.content {
    padding: 0 1rem 1rem;
}

.content>header {
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
    font-size: 40px;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #0099ffdc;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;

}

.post .about {
    color: slategray;
    font-style: italic;
}



.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}


input[type="submit"] {
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.save{
    background-color: #4f93e0;
}

.danger {
    background-color: #e74c3c;
} 

.container_manage {
    display:flex;

}

.explore {
    background-color: #fff;
}

.explore ul {
    /* border-right: solid 1px #000000; */
    list-style-type: none;
    flex-direction: column; 
}


.explore li {
    margin-bottom: 30px; 
}

.explore a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
}
  
.users {
    width: 400px;

}



.users table {
    align-self: center;
    align-items: center;
    align-content: center;
    width: 100px;
    padding: 0px 0px 0px 50px;
    font-size: 20px;
}

.users table td {
    width: 100px;
    padding: 0px 10px 0px 10px;
}

.users_post {
    padding: 0rem 0rem 0rem 1rem;
    /* display: flex; */

}

.users_post header {
    display: flex;
    align-items: flex-end;
}
.users:first-of-type {
    flex: auto;
}

.users>header:first-of-type {
    flex: auto;
}

.users_post>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
    font-size: 19px;
}


.users_post>header>div:first-of-type {
    flex: auto;
}
