/* Reset de estilos */
body,
h1,
h2,
h3,
p,
ul,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

.credential{
    color: #252525;
    text-decoration: none;
    
    
}

.navegator {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-bottom: 1px solid #000000; /* Un borde delgado de 1 píxel con color gris claro (#ddd) */
    padding: 0.5rem; /* Añadir algún relleno para separar el contenido del borde */
    transition: color 0.3s ease-in-out;
}

.navegator a:hover {
    color: #3240bd;
}

.navegator h1 {
    flex: auto;
    margin: 0;
    padding: 0.25rem 0.5rem;

}

.navegator ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegator ul li a,
.navegator ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid rgb(255, 0, 0);
}

.content {
    padding: 0 1rem 1rem;
}

.content>header {
    border-bottom: 1px solid rgb(212, 210, 210);
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
    font-size: 40px;

}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #0099ffdc;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}


input[type="submit"] {
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.save{
    background-color: #4f93e0;
}

.danger {
    background-color: #e74c3c;
} 

.explore {
    border-left: 1px solid rgb(212, 210, 210);
    border-right: 1px solid rgb(212, 210, 210);
    background-color: #fff;
    padding: 10px;
    height: 100vh; /* Ajusta la altura al 100% de la vista del navegador */
    width: 120px; /* Ancho del menú izquierdo */
    box-sizing: border-box;
}

.explore ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Muestra los elementos de la lista en una columna */
}


.explore li {
    margin-bottom: 30px; /* Espaciado entre elementos de la lista */
}

.explore a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
}

.explore main {
    flex: 1; /* Aprovecha el espacio restante en el contenedor principal */
    padding: 20px;
}