<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Flaskr</title>
</head>
<body>
    <nav class="navegator">
        <h1 ><a class="credential" href="{{ url_for('blog.index') }}">Flaskr</a></h1>
        <ul>
        {% if session['user_rol'] == 'admin' %}
            <li><a class="credential" href="{{ url_for('manage.menu') }}">{{ g.user }}</a>
            <li><a class="credential" href="{{ url_for('auth.logout') }}">Log Out</a>
        
        {% elif g.user %}
            <li class="credential"><span>{{ g.user }}</span>
            <li><a class="credential" href="{{ url_for('auth.logout') }}">Log Out</a>

        {% else %}
            <li><a class="credential" href="{{ url_for('auth.register') }}">Register</a>
            <li><a class="credential" href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
        </ul>
    </nav>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>